.main-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.currency {
  display: flex;
  gap: 40px;

  &__base {
    display: flex;
    align-items: center;
    gap: 10px;

    span{
      @media (max-width: 620px){
        font-size: 14px;
      }
    }
  }

  &__desc {
    font-size: 12px;
    max-width: 300px;

    @media (max-width: 580px){
      max-width: 100%;
    }
  }

  @media (max-width: 620px){
    gap: 20px;
  }

  @media (max-width: 580px){
    flex-direction: column;
    gap: 10px;
    width: 100%;
  }
}

.table {
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 0px 10px 3px #00000038;
  background-color: #fff;

}

.btn-refresh {
  background-color: #729037;
  color: white;
  border: none;
  box-shadow: 0px 0px 6px 3px #00000038;

  &:hover {
    color: #2e316d !important;
  }
}

.ant-table-cell{
  @media (max-width: 450px){
    padding: 14px !important;
  }

  @media (max-width: 330px){
    font-size: 13px;
    padding: 10px !important;
  }
}

.search{
  width: 100%;
  background-color: #fafafa;
  padding: 10px;

    input{
      padding: 10px 6px;
      outline: none;
      border-radius: 6px;
      border: 1px solid #d9d9d9;
      
    }
}


