.app{
    padding:  20px;
    background-color: #3e4978;
    min-height: 100vh;
    color: white;
    overflow: hidden ;
}

h1{
    font-size: 34px;
    
}



ul{
    display: flex;
    justify-content: center;
    gap: 40px;

    li{
        list-style: none;
    }

    a{
        text-decoration: none;
        color:#878eac;
    }

    .active{
        color: rgb(255, 255, 255);
    }
}

